* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red: #F12F2F;
    --bgcol: linear-gradient(to bottom, #1a1a25, #1a1a28, #1b1a2b, #1b1a2e, #1c1a31);
    --borcol: 2px solid #ADADAD;
    --bgcol2 : linear-gradient(to bottom, #0a0d12, #0c0e13, #0d0f14, #0f0f14, #101015);
    --neon : linear-gradient(to top, #60f498, #00eac4, #00dde4, #00ccf2, #58b9ed);
    --neon2: linear-gradient(to right top, #f0fa3a, #ffd02a, #ffa63d, #ff7f57, #ff5e70);
}
body{
    background-image: var(--bgcol);
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    
}
.navbar {
    width: 90%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: 50px;
    
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    transition: all 1s;
}

/* ************ Navbar Button******************* */
.nav button {
    color: white;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

/* ************* Font ****************** */
.navbar h1 {
    color: #F12F2F;
    font-family: fac;
}
@font-face {
    font-family: fac;
    src: url(./FONT/Ultimate.otf);
}
.navbar span {
    color: white;
    font-size: 15px;
    font-family: fon;
}
@font-face {
    font-family: fon;
    src: url(./FONT/CANAVAR.ttf);
}
.topcontent h3{
    color: #F12F2F;
    font-family:'Courier New', Courier, monospace ;
}

/* ****************** Video **************************** */
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);    
}

/* ************** Heading Content ********************** */
.topcontent {
    position: absolute;
    left: 200px;
    top: 200px;
}
.topcontent h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.topcontent h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0px 10px 0px;
}
.topcontent button {
    color: white;
    font-weight: bold;
    border: none;
    background-color: #F12F2F;
    padding: 10px 20px 10px 20px;
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 1%);
}

/* ***************** Second Content ************************ */
.container2 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px;
    background-image: var(--bgcol);
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}
.container2 h1 {
    margin-bottom: 15px;
}
.container2 h1:first-child {
    font-family: live;
    font-size: 18px;
}
.container2 span {
    color: var(--red);

}
.container2 p {
    font-family: live;
    margin-bottom: 20px;
}
@font-face {
    font-family: live;
    src: url(./FONT/Livemono-Regular-Demo.otf);
}

/* **************** Second content Icons *************************** */
.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 38%;
    height: 75px;
    border: var(--borcol);
    border-radius: 10px;
}
.icon i {
    font-size: 30px;
    z-index: 1;
}
.icon div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #11101a;
    border-radius: 10px;
    width: 12%;
    height: 75%;
    overflow: hidden;
    position: relative;
}
/* *************** Icon button Animation*********************** */
.icon div::before{
    content: "";
    position: absolute;
    background-color: var(--red);
    top: -20px;
    right: -10px;
    width: 20px;   
    height: 20px;
    border-radius: 50%; 
    transition: all .5s;   
}
.icon div:hover::before{ 
    width: 100px;
    height: 100px;

}


/* ***************** Top Rate ************************ */
.toprate{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: var(--bgcol2);
}
.toprate p{
    color: var(--red);
}
.toprate h3{
    margin-bottom: 50px;
    margin-top: 10px;
    border-bottom: 2px solid var(--red);
}
.card{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 70%;
}
.card1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card img{
    width: 37%;
    height: 85%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(203, 179, 179), 0px 0px 10px var(--red);
    transition: all .5s;
}
.card img:hover{
    transform: scale(1.1);
    
}


/* *************** Container 3 **************************** */
.container3{
    color: white;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.container3 .image1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3 .content{
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;   
}
.container3 h1{
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container3 p{
    margin-bottom: 10px;
    width: 80%;
}
.container3 button{
    font-size: 15px;
    width: 25%;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: var(--red);
}
/* ************ Circle Animation ***************** */
.about{
    display: flex;
    flex-direction: column;
    background: var(--bgcol);
}
.circle {
    position: relative;
    width: 350px;
    height: 350px;
    background: var(--neon);
    border-radius: 50%;
    animation: animate 0.5s linear infinite;
}
@keyframes animate {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}
.circle::after{
    content: "";
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border-radius: 50%;
    background-color: black;
}
.circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--neon);
    border-radius: 50%;
}
.circle span:nth-child(1){
    filter: blur(5px);
}
.circle span:nth-child(2){
    filter: blur(10px);
}
.circle span:nth-child(3){
    filter: blur(30px);
}
.container3 img {
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
/* ***************** Downloads ************************ */
.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background-color: transparent;
    text-align: center;
}
.box{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 200px;
    box-shadow: 1px 1px 5px , 0px 0px 10px aqua;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    margin: 30px;
    transition: all .6s;
}
.box:hover{
    transform: translateY(-15px);
}
.container4 h3{
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container4 p{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.container4 i{
    font-size: 25px;
    padding: 15px;
    background-color: #00ccf2;
    border-radius: 50%;
}
/* ******************** Container 5 Gallery ***************************** */
.container5{
    width: 100%;
    height: 800px;
    background: var(--bgcol2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.container5 .gal{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container5 .gal .content{
    color: white;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.gal .content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gal .content h2{
    font-size: 15px;
    color: var(--red);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* ************* Gallery Effects **************** */
.container5 .gallery{
    color: white;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.container5 .gallery .img-box{
    width: 20%;
    height: 90%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px , 0px 0px 10px aqua;
    background-image: url(./IMG/Bg\ img\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}
.gallery .img-box:nth-child(2){
    background-image: url(./IMG/Bg\ img\ \(2\).jpg);
}
.gallery .img-box:nth-child(3){
    background-image: url(./IMG/Bg\ img\ \(3\).jpg);
}
.gallery .img-box:nth-child(4){
    background-image: url(./IMG/Bg\ img\ \(4\).jpg);
}
.gallery .img-box:nth-child(5){
    background-image: url(./IMG/Bg\ img\ \(5\).jpg);
}
.gallery .img-box:hover{
    width: 80%;
    cursor: pointer;
}

/* ******************* Contact ****************************** */
.overall{
    color: white;
    width: 98%;
    height: 40%;
    margin: 10px;
    background:var(--bgcol);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ic{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.ic div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #11101a;
    border-radius: 10px;
    width: 12%;
    height: 75%;
    padding: 10px;
    background-color: var(--red);
}
.tab1 , .tab2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding-top: 70px;   

}
.tab2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.overall h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tab1 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tab2 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
    margin: 20px 0px 20px 0px;
    width: 100%;
    padding: 10px;
    border-radius: 15px;  
    border:1px solid #ea4141;
    background-color: rgb(29, 27, 27);
}
input::placeholder{
    color: white;
}
.cnt4 button{
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--red);
}

.cnt2 i{
    position: absolute;
    transform: translate(0px);
    opacity: 0;
    /* visibility: hidden; */
    transition: all 0.7s;
}
.cnt2 p:hover i , .cnt2 p:hover{
    cursor: pointer;
    color: var(--red);
    opacity: 1;
    /* visibility: visible; */
    top: 3px;
    transform: translate(10px);
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
footer span{
    color: var(--red);
}
.menuicon{
    display: none;
}
.in{
    display: none;
}
.in:checked ~ .nav{
    left: 0;
}

@media only screen and (max-width:700px) {
    .container{
        position: relative;
        overflow: hidden;
    }
    .navbar{
        left: 0;
        width: 100%;
       justify-content: space-between;
    }
    .topcontent{
        text-align: center;
        left: 30px;
    }
    .menuicon{
        font-size: 20px;
        display: block;
        padding-right: 10px;
    }
    .nav{
        z-index: 99;
        position: absolute;
        top: 60px;
        right:-120%;
        flex-direction: column;
        background-color: rgba(0, 0,0, 1);
        width: 100%;
        height: 550px;
        
    }
    .navbar button{
        font-size: 18px;
    }
    .container2{
        padding: 10px;
    }
    .container2 .icon{
        width: 90%;
    }
    .toprate{
        height: 2400px;
    }
    .toprate h3{
        text-align: start;
        margin-bottom: 70px;
    }
    .card{
        width: 100%;
        height: 90%;
        gap: 50px;
        flex-direction: column;
    }
    .card1{
        height: 50%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .card2{
        height: 50%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .card img{
        width: 80%;
        height: 50%;
    }
    .container3{
        flex-direction: column;
        height: 50%;
    }
    .about{
        height: 1600px;
    }
    .container3 .content{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .content button{
        width: 60%;
    }
   
    .container3 p{
        width: 100%;
    }
    .container3 .image1{
        width: 100%;
    }
    .container5{
        height: 1300px;
    }
    .container5 .gal{
        flex-direction: column;
    }
    .container5 .gal .content{
        width: 100%;
        height: 20%;
    }
    .container5 .gallery{
        width: 100%;
    }
    .gallery .img-box:hover{
        width: 90%;
    }
    .overall{
        width: 100%;
        height: 1100px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .cnt1 , .cnt2 , .cnt3 , .cnt4{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
     .ic{
        text-align: center;
        display: flex;
        justify-content: center;
     }
     .ic div{
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
     }
    .tab1 , .tab2{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding-top:40px ;
        width: 100%;
    }
    input{
        width: 70%;
        margin: 5px 0px 0px 0px;
        margin-left: 70px;
    }
    .cnt4 button{
        margin-left: 70px;
        width: 70%;
        margin-bottom: 20px;
    }
    
}
@media only screen and (min-width:750px) and (max-width:1000px) {
    .container2 .icon{
        width: 60%;
    }
   

}
@media only screen and (min-width:700px) and (max-width:900px){
    .toprate{
        height: 1200px;
    }
    .toprate .content{
        /* height: 20%; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topcontent{
        text-align: center;
        left: 20px;
    }
    .card{
        flex-direction: column;
        width: 100%;
        height: 80%;

    }
    .card1{
        width: 100%;
    }
    .card2{
        width: 100%;
    }
    .card img{
        width: 37%;
        height: 85%;
        border-radius: 10px;
    }
    /* *********** Container3 ************* */
    .container3{
        flex-direction: column;
        height: 50%;
    }
    .about{
        height: 1600px;
    }
    .container3 .content{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .container3 p{
        width: 100%;
    }
    /*  */
    .container3 .image1{
        width: 100%;
    }
    .container5{
        height: 1100px;
    }
    .container5 .gal{
        flex-direction: column;
    }
    .container5 .gal .content{
        width: 100%;
        height: 20%;
    }
    .container5 .gallery{
        width: 100%;
    }
    .gallery .img-box:hover{
        width: 90%;
    }
    .overall{
        height: 700px;
        flex-direction: column;
    }
    .tab1 , .tab2{
        padding-top:40px ;
        width: 100%;
    }

}